@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@300;400;700&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}


*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Noto Sans Armenian', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}


:root{
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

body{
  background: linear-gradient(173deg, #B51160 0%, #A60EDB 98.84%) center no-repeat;
  background-size: cover;
  @media (max-width: 992px) {
    padding: 0 30px 0 30px;
  }
  @media (max-width: 576px) {
    padding: 0 25px 0 25px;
  }
}

.ball-yellow{
  position: absolute;
  z-index: -23;
  left: 0;
  top: 0;
  width: 90vw;
}




.body-content{
  max-width: 1200px;
  width: 100%;
  border-radius: 30px;
  border: 5px solid #FFF;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(7.5px);
  margin: 115px auto 150px auto;
  padding: 0 0 280px 0;
}

.container{
  max-width: 984px;
  width: 100%;
}



.fix-button{
  position: fixed;
  bottom: 25px;
  left: 25px;
  max-width: 355px;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: var(--white);
  padding: 0 21px;
  @media (max-width: 576px) {
    display: none;
  }
  span{
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 141.5%;
  }
  .fix-button-btn{
    background: transparent;
    color: var(--orange);
    font-size: 1rem;
    font-weight: 400;
    line-height: 141.5%; /* 22.64px */
  }

}






//............ Menu

.menu{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1000;
  &.active{
    border-radius: 100px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(17.5px);
    .logo{
      transform: scale(.8);
      top: 50px !important;
    }
  }
  .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
      display: none;
    }
    .logo{
      position: relative;
      top: 72px;
      margin: 0 20px;
    }
    ul{
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        margin-right: 2.8125rem;
        color: #000;
        font-size: 1.125rem;
        font-weight: 300;
        cursor: pointer;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }

}

.menu-item-mobile{

}


header{

  .col-box{

    .heading-header{
      margin-top: 140px;
      color: #000;
      font-size: 3.4375rem;
      font-weight: 600;
      line-height: 3.875rem; /* 120% */
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }

    .header-subtitle{
      color: #000;
      font-size: 1.25rem;
      font-weight: 300;
    }

    .btn-header{
      margin-top: 35px;
      padding: 8px 30px;
      color: #FFF;
      font-size: 1.25rem;
      font-weight: 300;
      border-radius: 30px;
      background: linear-gradient(92deg, #A60EDB 1.64%, #B51160 99.59%);
    }

  }


}