@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@300;400;700&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Noto Sans Armenian", sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

body {
  background: linear-gradient(173deg, #B51160 0%, #A60EDB 98.84%) center no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  body {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 576px) {
  body {
    padding: 0 25px 0 25px;
  }
}

.ball-yellow {
  position: absolute;
  z-index: -23;
  left: 0;
  top: 0;
  width: 90vw;
}

.box-heading {
  width: 100%;
  height: 5rem;
  border-radius: 100px 0;
  background: linear-gradient(90deg, #B51160, #FBB707, #F6254B);
  position: relative;
}
.box-heading:before {
  content: "";
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 6px);
  background: #fff;
  border-radius: 124px 0;
  left: 4px;
  top: 3px;
  margin: 0;
  padding: 0;
}
.box-heading h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  background: linear-gradient(91deg, #F6254B 0.31%, #A60EDB 103.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.body-content {
  max-width: 1200px;
  width: 100%;
  border-radius: 30px;
  border: 5px solid #FFF;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7.5px);
  margin: 115px auto 150px auto;
  padding: 0 0 280px 0;
}

.container {
  max-width: 984px;
  width: 100%;
}

.fix-button {
  position: fixed;
  bottom: 25px;
  left: 25px;
  max-width: 355px;
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  background: var(--white);
  padding: 0 21px;
}
@media (max-width: 576px) {
  .fix-button {
    display: none;
  }
}
.fix-button span {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 141.5%;
}
.fix-button .fix-button-btn {
  background: transparent;
  color: var(--orange);
  font-size: 1rem;
  font-weight: 400;
  line-height: 141.5%; /* 22.64px */
}

.dropdown-flag {
  background: transparent !important;
}
.dropdown-flag button {
  background: transparent;
  border: none;
}
.dropdown-flag button:active {
  background: transparent !important;
}
.dropdown-flag button:hover {
  background: transparent !important;
}
.dropdown-flag .dropdown-menu {
  background: transparent;
  width: 20px !important;
}
.dropdown-flag .dropdown-menu img {
  display: block;
  width: 25px;
  margin: 10px;
}

.menu {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background: transparent;
  z-index: 1000;
}
.menu .logo {
  transition: 0.2s linear;
}
.menu.active {
  border-radius: 100px;
  border: 1px solid #FFF;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(17.5px);
}
@media (max-width: 992px) {
  .menu.active {
    top: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    backdrop-filter: blur(17.5px);
  }
}
.menu.active .logo {
  transform: scale(0.8);
  top: 40px !important;
}
.menu .menu-item2 {
  display: none;
}
@media (max-width: 992px) {
  .menu .menu-item2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu .menu-item2 .logo {
    transform: scale(0.3);
  }
}
.menu .menu-item2 .mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 992px) {
  .menu .menu-item2 .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: -35px;
  }
}
.menu .menu-item2 .mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}
.menu .menu-item2 .mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.menu .menu-item2 .mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}
.menu .menu-item2 .mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #000;
  position: relative;
}
.menu .menu-item2 .mobile-menu-board span:last-child {
  margin: 0;
}
.menu .menu-item2 .mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.menu .menu-item2 .mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.menu .menu-item2 .mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.menu .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .menu .menu-item {
    display: none;
  }
}
.menu .menu-item .logo {
  position: relative;
  top: 72px;
  margin: 0 20px;
}
.menu .menu-item ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu .menu-item ul li {
  margin-right: 2.8125rem;
  color: #000;
  font-size: 1.125rem;
  font-weight: 300;
  cursor: pointer;
}
.menu .menu-item ul li:last-child {
  margin-right: 0;
}

.menu-item-mobile {
  position: fixed;
  left: 0;
  top: 80px;
  width: 100%;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7.5px);
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: 0.2s linear;
  z-index: 100;
  display: none;
}
@media (max-width: 992px) {
  .menu-item-mobile {
    display: initial;
  }
}
.menu-item-mobile.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.menu-item-mobile ul {
  text-align: center;
  list-style: none;
  padding-left: 0;
}
.menu-item-mobile ul li {
  color: #000;
  font-size: 1.25rem;
  font-weight: 300;
  margin: 15px 0;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

header .col-box {
  width: 100%;
  height: 100%;
  margin-top: 140px;
  position: relative;
}
header .col-box .heading-header {
  color: #000;
  font-size: 3.4375rem;
  font-weight: 600;
  line-height: 3.875rem; /* 120% */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
header .col-box .header-subtitle {
  color: #000;
  font-size: 1.25rem;
  font-weight: 300;
}
header .col-box .btn-header {
  margin-top: 35px;
  padding: 8px 30px;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 300;
  border-radius: 30px;
  background: linear-gradient(92deg, #A60EDB 1.64%, #B51160 99.59%);
}
header .col-box .yellow {
  position: absolute;
  left: 100px;
  top: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #F90;
  transition: 0.3s linear;
  z-index: -1;
}
header .col-box .yellow.active {
  left: 0;
  top: -60px;
}
header .col-box .yellow.no-trans {
  transition: unset !important;
}
header .col-box .purple {
  position: absolute;
  left: 98px;
  top: 8px;
  z-index: -1;
  width: 314px;
  height: 440px;
  transform: rotate(0);
  border-radius: 30px;
  background: #C529FC;
  transition: 0.3s linear;
}
header .col-box .purple.active {
  transform: rotate(15deg);
  left: 105px;
  top: 0;
}
header .col-box .purple.no-trans {
  transition: unset !important;
}
header .col-box .green {
  position: absolute;
  right: 60px;
  bottom: 150px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #287B67;
  transition: 0.3s linear;
  z-index: -1;
}
header .col-box .green.active {
  right: -20px;
  bottom: 70px;
}
header .col-box .green.no-trans {
  transition: unset !important;
}

.choose-us {
  margin-top: 8.9375rem;
}
@media (max-width: 992px) {
  .choose-us {
    margin-top: 6rem;
  }
}
@media (max-width: 576px) {
  .choose-us {
    margin-top: 4.125rem;
  }
}
.choose-us-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.choose-us-box-image {
  border-radius: 15px;
  position: relative;
}
.choose-us-box-image .choose-green {
  position: absolute;
  left: 25px;
  top: 0;
  width: 93%;
  height: 100%;
  z-index: -1;
  border-radius: 15px;
  background: #2BBE9B;
  transform: rotate(0);
  transition: 0.4s;
}
.choose-us-box-image .choose-green.active {
  left: 0;
  top: 20px;
  transform: rotate(10.003deg);
}
.choose-us-box-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.choose-us-box p {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  letter-spacing: 0.64px;
}
.choose-us-box p span {
  font-weight: 600;
}

.contact {
  margin-top: 3.625rem;
}
@media (max-width: 576px) {
  .contact {
    margin-top: 2rem;
  }
}
.contact-box .ando {
  width: 100%;
  height: 100%;
}
.contact-box .name {
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.contact-box .position {
  color: #FFF;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 6px;
  margin-bottom: 3.75rem;
}
.contact-box-numbers a {
  display: block;
  color: #FFF;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 6px;
}

.preparation {
  margin-top: 10.3125rem;
}
@media (max-width: 576px) {
  .preparation {
    margin-top: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
